.aboutus{
}

.jumbotron{
	margin: 0px 0px 0px 0px;
}

#auphoto{
	max-height: 50vh;
}


#auimg{
	position: fixed;
	top: 50px;
	height: 100% !important;
	width: auto;
	max-height: 50vh;
	margin: 0px 0px 0px 0px;
}

.cover{
	position: relative;
	overflow: hidden;
	background-color: black;
	height: 50vh;
	width: auto;
}

#bridge{
	position: absolute;
	top: -30px;
	width: 100vw;
	height: auto;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}


@media (min-aspect-ratio: 1.7) {
	#bridge{
		width: 100vw;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
  #bridge {
    height: 100vh;
    width: auto;
  }
}


#aujumbo{
	font-family: 'Stellar', 'Times New Roman';
	background-color: white;
	overflow: auto;
}

#header{
	text-align: center;
	font-size: 1.5em;
	border-bottom: 1px #000080 solid;
}

#text{
	text-align: center;
	color: rgb(128,128,128);
}