#landinginfo{
	margin-top: 40vh;
}
.textboxes{
	font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
	font-weight:100; 
	text-align: center;
}

#aplc{
	margin-top: 0px;
}

#logo{
	height: 30px;
	margin-top: 0;
}
